<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Prediction</title>
  </head>

  <body>
    <h1><div style="text-align:center"><font color="blue">Predict Values</font></div></h1>
    <hr>
    </br>
    <h2><div style="text-align:center">Enter the values for Each of the variables</div></h2>
    </br>
    <div class='container'>
      <div class='row'>
        <div class='col-6'>
          <form method="POST" action="/predict">
            <div class="form-group">
              <label for="var1"><p class="font-weight-bold">var1: </p></label>
              <select id="var1" name="var1">
                <option value="a">a</option>
                <option value="b">b</option>
                </select>
              <small id="NYHelp" class="form-text text-muted">Enter Variable 1</small>
              </div>

              <div class="form-group">
                <label for="var2"><p class="font-weight-bold">var2: </p></label>
                <input type="text" name="var2">
                <small id="var2Help" class="form-text text-muted">Enter Variable 2</small>
                </div>

               <div class="form-group">
                <label for="var3"><p class="font-weight-bold">var3: </p></label>
                <input type="text" name="var3">
                <small id="var3Help" class="form-text text-muted">Enter Variable 3</small>
                </div>

                <div class="form-group">
                <label for="var4"><p class="font-weight-bold">var4: </p></label>
                <select id="var4" name="var4">
                    <option value="l">l</option>
                    <option value="u">u</option>
                    <option value="u">y</option>
                    </select>
                <small id="var4help" class="form-text text-muted">Enter Variable 4</small>
                </div>


                <div class="form-group">
                <label for="var5"><p class="font-weight-bold">var5: </p></label>
                <select id="var5" name="var5">
                    <option value="g">g</option>
                    <option value="gg">gg</option>
                    <option value="p">p</option>
                    </select>
                <small id="var5help" class="form-text text-muted">Enter Variable 5</small>
                </div>

                <div class="form-group">
                <label for="var6"><p class="font-weight-bold">var6: </p></label>
                <select id="var6" name="var6">
                    <option value="W">W</option>
                    <option value="aa">aa</option>
                    <option value="c">c</option>
                    <option value="cc">cc</option>
                    <option value="d">d</option>
                    <option value="e">e</option>
                    <option value="ff">ff</option>
                    <option value="i">i</option>    
                    <option value="j">j</option>    
                    <option value="k">k</option>    
                    <option value="m">m</option>
                    <option value="q">q</option>    
                    <option value="r">r</option>    
                    <option value="x">x</option>    
                    </select>
                <small id="var5help" class="form-text text-muted">Enter Variable 6</small>
                </div>
                
                
                <div class="form-group">
                <label for="var7"><p class="font-weight-bold">var7: </p></label>
                <select id="var7" name="var7">
                    <option value="bb">bb</option>
                    <option value="dd">dd</option>
                    <option value="ff">ff</option>
                    <option value="h">h</option>
                    <option value="n">n</option>
                    <option value="j">j</option>
                    <option value="o">o</option>    
                    <option value="v">v</option>    
                    <option value="z">z</option>   
                    </select>
                <small id="var7help" class="form-text text-muted">Enter Variable 7</small>
                </div>

                <div class="form-group">
                <label for="var8"><p class="font-weight-bold">var8: </p></label>
                <input type="text" name="var8">
                <small id="var8Help" class="form-text text-muted">Enter Variable 8</small>
                </div>

                <div class="form-group">
                <label for="var9"><p class="font-weight-bold">var9: </p></label>
                <select id="var9" name="var9">
                    <option value="f">f</option>
                    <option value="t">t</option> 
                    </select>
                <small id="var9help" class="form-text text-muted">Enter Variable 9</small>
                </div>

                <div class="form-group">
                <label for="var10"><p class="font-weight-bold">var10: </p></label>
                <select id="var10" name="var10">
                    <option value="f">f</option>
                    <option value="t">t</option> 
                    </select>
                <small id="var10help" class="form-text text-muted">Enter Variable 10</small>
                </div>
                
                <div class="form-group">
                <label for="var11"><p class="font-weight-bold">var11: </p></label>
                <input type="text" name="var11">
                <small id="var11Help" class="form-text text-muted">Enter Variable 11</small>
                </div>

                <div class="form-group">
                <label for="var12"><p class="font-weight-bold">var12</p></label>
                <select id="var12" name="var12">
                    <option value="f">f</option>
                    <option value="t">t</option> 
                    </select>
                <small id="var12help" class="form-text text-muted">Enter Variable 12</small>
                </div>

                <div class="form-group">
                <label for="var13"><p class="font-weight-bold">var13: </p></label>
                <select id="var13" name="var13">
                    <option value="g">g</option>
                    <option value="p">p</option>
                    <option value="s">s</option> 
                    </select>
                <small id="var13help" class="form-text text-muted">Enter Variable 13</small>
                </div>

                <div class="form-group">
                <label for="var14"><p class="font-weight-bold">var14: </p></label>
                <input type="text" name="var14">
                <small id="var14Help" class="form-text text-muted">Enter Variable 14</small>
                </div>

                <div class="form-group">
                <label for="var15"><p class="font-weight-bold">var15: </p></label>
                <input type="text" name="var15">
                <small id="var15Help" class="form-text text-muted">Enter Variable 15</small>
                </div>

                <div class="form-group">
                <label for="var17"><p class="font-weight-bold">var17: </p></label>
                <input type="text" name="var17">
                <small id="var17Help" class="form-text text-muted">Enter Variable 17</small>
                </div>
                
                <div class="form-group">
                <label for="var18"><p class="font-weight-bold">var18: </p></label>
                <select id="var18" name="var18">
                    <option value="f">f</option>
                    <option value="t">t</option> 
                    </select>
                <small id="var18help" class="form-text text-muted">Enter Variable 18</small>
                </div>

                <div class="form-group">
                <label for="var19"><p class="font-weight-bold">var19: </p></label>
                <select id="var19" name="var19">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    </select>
                <small id="var19help" class="form-text text-muted">Enter Variable 19</small>
                </div>

                        <input class='btn btn-primary' type='submit' value='Submit'>
            </form>

          </div>
          </div>
          </div>
  </body>

</html>
